header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#title {
  font-size: 50px;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 20px;
}

#search {
  margin-top: 20px;
}

/* search form is from
https://css-tricks.com/show-search-button-when-search-field-is-non-empty/ */

.search-form {
  --searchButtonWidth: 75px;
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
}

.search-input:focus {
  outline: 0;
  background: #ddd;
}

.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 8px;
  position: relative;
  top: -32px;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background: black;
  color: white;
  font-size: 13px;
  height: 100%;
}

.search-button:focus {
  outline: 0;
  background: #222;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
